*/node_modules
*/build
*/npm-debug.log
*/.env
*/.DS_Store
 */package-lock.json 
 */package.json
*/tag
 */*lock*
 *lock*
project-settings
*/UAT Test
* azure-pipelines.yml
*.github/workflows/azure-static-web-apps-happy-ground-0c198590f.yml

